doctype html
html(ng-app='comparator')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/comparator.js')
  body
    block content
